#tracker-container b {
    color:rgba(83,172,207,0.7);
}
#tracker-container span {
    display:inline-block;
    width:25%;
    text-align: right;
}
#tracker-container input {
    margin:5px 0;
    border:2px solid pink;
}
#tracker-container hr {
    border-top:1px solid rgba(83,172,207,0.7);
}
#tracker-container em {
    padding:3px;
}
#tracker-container .App {
    margin:20px;
    border-radius:7px;
    border:10px solid rgba(241,162,58,0.9);
    font-size:14px;
}
#tracker-container .heading {
    padding:7px;
    margin:3px;
    display:block;
    text-align:center;
}
#tracker-container .center {
    border:1px solid pink;
    border-radius:3px;
    padding:7px;

    display: flex;
    justify-content: center;
    align-items: center;
    height:5vh;
}
#totalDividends {
    padding:15px;
    text-align: center;
}
#dividendInformation {
    padding:3px;
}
#tracker-container {
    padding:15px;
    background:white;
    border-radius: 25px;
}
#top {
    border-radius:3px;
    padding:7px;
    background:white;
    font-size:14px;
    border:1px solid pink;
}
#logo {
    margin:2px;
    float:left;
    display: flex;
    width: 24px;
}
#address-form {
    text-align: center;
}

.invalid-feedback {
    width: 100%;
    margin: 5px;
    font-size: 12px;
    color: #dc3545;
    text-align: left;
}
#tracker-container .is-invalid{
  border:2px solid #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMiAxMicgd2lkdGg9JzEyJyBoZWlnaHQ9JzEyJyBmaWxsPSdub25lJyBzdHJva2U9JyNkYzM1NDUnPjxjaXJjbGUgY3g9JzYnIGN5PSc2JyByPSc0LjUnLz48cGF0aCBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBkPSdNNS44IDMuNmguNEw2IDYuNXonLz48Y2lyY2xlIGN4PSc2JyBjeT0nOC4yJyByPScuNicgZmlsbD0nI2RjMzU0NScgc3Ryb2tlPSdub25lJy8+PC9zdmc+');
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
  transition: none;
}