#tracker-container b {
    color:rgba(83,172,207,0.7);
}
#tracker-container span {
    display:inline-block;
    width:33.333333333%;
    text-align: center;
}
.text_label{
    font-size: 18px;
    font-weight: 600;
}
#tracker-container input {
    margin:5px 0;
    border:2px solid #557ff8;
    border-right: 0;    
    display: table-cell;    
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;    
}
#tracker-container hr {
    border-top:1px solid rgba(83,172,207,0.7);
}
#tracker-container em {
    padding:3px;
}
#tracker-container .App {
    margin:20px;
    border-radius:7px;
    border:10px solid rgba(241,162,58,0.9);
    font-size:14px;
}

#tracker-container .center {
    border:1px solid pink;
    border-radius:3px;
    padding:7px;

    display: flex;
    justify-content: center;
    align-items: center;
    height:5vh;
}
#totalDividends {
    padding: 10px 0 0;
    text-align: center;
}
#dividendInformation {
    padding:3px;
}
#tracker-container {
    padding:10px 20px;
    background:white;
    border-radius: 25px;
    box-shadow: rgb(33 35 74 / 17%) 0px 22px 48px -9px;
    border: 1px solid rgb(232, 236, 253);   
}
#top {
    background:white;
    font-size:14px;
}
#logo {
    margin:2px;
    float:left;
    display: flex;
    width: 24px;
}
#address-form {
    text-align: center;
    position: relative;
    margin-top: 10px;
    display: table;
    border-collapse: separate;    
}

.invalid-feedback {
    width: 100%;
    margin: 5px;
    font-size: 12px;
    color: #dc3545;
    text-align: left;
}
#tracker-container .is-invalid{
  border:2px solid #dc3545;
  border-right:0;
  padding-right: calc(1.5em + .75rem);
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMiAxMicgd2lkdGg9JzEyJyBoZWlnaHQ9JzEyJyBmaWxsPSdub25lJyBzdHJva2U9JyNkYzM1NDUnPjxjaXJjbGUgY3g9JzYnIGN5PSc2JyByPSc0LjUnLz48cGF0aCBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBkPSdNNS44IDMuNmguNEw2IDYuNXonLz48Y2lyY2xlIGN4PSc2JyBjeT0nOC4yJyByPScuNicgZmlsbD0nI2RjMzU0NScgc3Ryb2tlPSdub25lJy8+PC9zdmc+');
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
  transition: none;
}


.navTab{
    border-bottom: 1px solid #d1d5db;
    display: flex;
    color: #374151; 
}
.TabSelector{
    line-height: 1.25rem;
    font-weight: 600;
    font-size: .975rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-bottom-width: 2px;
    border-color: transparent;
    cursor: pointer;
    align-items: center;
    /* margin-right: 2rem; */
    background-color: transparent;
    background-image: none;
    -webkit-appearance: button;
    color:#6b7280;
    outline: 0;
    align-items: center;
    width: 100%;
}   
.TabSelector:hover{
    color: #4b5563;
    border-bottom: 2px #d1d5db solid;
}
.TabSelector.active{
    color: #4f46e5;
    border-bottom:2px #6366f1 solid
}
.p-4{
    padding: 1rem 0;
}
.card{
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    border: none;
    border-radius: 5px;  
    padding: 10px;
    margin: 10px 0;  
    font-size: 16px;
}
.input-group-btn{
    display: table-cell;
    width: 1%;
}

.input-group-btn .btn{
    height: 45px;
    line-height: 10px;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 90px;
    vertical-align: middle;    
}


.tableView{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.leftRow{
    color: rgb(122, 138, 160);
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.leftRow b{
    font-weight: 600;
}
.rightRow{
    color: rgb(122, 138, 160);
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.filler{
background: linear-gradient(90deg, #557ff8, #557ff8 17%, #01feff 34%, #01feff 51%, #557ff8 68%, #557ff8 85%, #01feff);
background-size: 300% 100%;
-webkit-animation: progress-animation 4s linear infinite;
        animation: progress-animation 4s linear infinite;
}
@-webkit-keyframes progress-animation {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: 0;
    }
  }
  
  @keyframes progress-animation {
    0% {
      background-position: 100%;
    }
    100% {
      background-position: 0;
    }
  }